/*fonts*/
@font-face {
	font-family: 'HelveticaNowMicro-ExtraLight' ;
	src: url("../fonts/HelveticaNowMicro-Light.otf") ;
	font-weight: normal;
}

@font-face {
	font-family: 'HelveticaNowMicro-ExtraBold' ;
	src: url("../fonts/HelveticaNowMicro-ExtraBold.otf") ;
	font-weight: normal ;
}

@font-face {	font-family: 'spotnormal' ;
	src: url('spot-normal-webfont.woff2') format('woff2'),
         url('spot-normal-webfont.woff') format('woff') ;
	font-weight: normal ;
	font-style: normal ;
}


/*css reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'HelveticaNowMicro-Light', ;
	color: #454545;
}

html {
	scroll-behavior: smooth ;
}

p::selection {
	background-color: #ffcf00 ;
}


/*start index.html*/
/*body*/
/*start nav*/
.navbar {
	background-color: #fbfbfb ;
	box-shadow: 0 5px 5px #e7e7e7 ;
	position: fixed ;
	width: 100vw ;
	z-index: 2 ;
}

.navbar-brand {
	font-family: 'spotnormal' ;
	font-size: 22px ;
	color: #454545 ;
	margin-left: 10px ;
}

.navbar-brand:hover {
	color: #0bb68c ;
}

.navbar-nav {
	font-family: 'HelveticaNowMicro-ExtraBold' ;
	font-size: 13px ;
}

#about {
	padding-right: 20px ;
}

#home,
#about {
	color: #c1c1c1 ;
}

#home,
#about:hover {
	color: #9b9b9b;
}

#btn-join-us {
	background-color: #0bb68c ;
	border-radius: 5px ;
	color: whitesmoke ;
	padding-left: 25px;
	width: 105px ;
}

#btn-join-us:hover {
	background-color: #47bfa2;
}
/*end nav*/



/*start home*/
.container-home {
	height: 100vh ;
	background-color: whitesmoke ;
	background-image: url(../images/bg00a.png) ;
	background-size: cover ;
	background-repeat: no-repeat ;
	background-position: center ;
	background-attachment: fixed ;
}
/*start social*/
.social {
	position: absolute ;
	height: 100% ;
	padding-top: 200px ;
	display: flex ;
	justify-content: center ;
	flex-direction: column ;
}

.social a {
	color: #454545 ;
	margin: 5px ;
	opacity: .7 ;
	text-decoration: none ;
}

.social a:hover {
	color: #0bb68c ;
	opacity: 1 ;
}

.fb,
.insta,
.twitter {
	padding-bottom: 10px ;
}
/*end social*/

/*start home content*/
.container-home {
	height: 100vh ;
}

.home-content {
	width: 30% ;
	position: absolute;
	margin-top: 140px;
	margin-left: 120px;
}

.title {
	font-family: 'spotnormal' ;
	font-size: 50px ;
	margin: 0 ;
}

.together {
	font-family: 'HelveticaNowMicro-ExtraBold' ;
	font-size: 13.7px;
	color: #0bb68c;
}

.save {
	font-family: 'HelveticaNowMicro-ExtraBold' ;
	font-size: 13.7px;
}

.info-projectgaea {
	width: 91% ;
	font-size: 12px ;
	font-weight: 400 ;
	text-align: justify ;
}

.btn-block {
	font-family: 'HelveticaNowMicro-ExtraBold' ;
	background-color: #0bb68c ;
	border-radius: 20px ;
	color: whitesmoke ;
	font-size: 11px ;
	position: absolute ;
	width: 120px ;
}
.btn-block:hover {
	background-color: #47bfa2 ;
	color: whitesmoke ;
}
/*end home content*/
/*end home*/
/*end index.html*/






/*start about.html*/
.climate-change {
	height: 100vh ;
	background-color: whitesmoke ;
	background-image: url(../images/bg02.png) ;
	background-size: cover ;
	background-repeat: no-repeat ;
	background-position: center ;
	background-attachment: fixed ;
}

.about-1 {
	width: 100% ;
	display: flex ;
	flex-direction: column ;
	height: 40% ;
	padding: 100px 0 0 400px ;
}

.what-problem {
	margin: 0 ;
	height: 35px ;
}

.what {
	font-family: 'HelveticaNowMicro-ExtraBold' ;
	font-size: 14px ;
}

.problem {
	font-family: 'HelveticaNowMicro-ExtraBold' ;
	font-size: 14px ;
	color: #0bb68c ;
}

.title-climate {
	font-family: 'spotnormal' ;
	font-size: 30px ;
	margin: 0 ;
	padding-bottom: 2px ;
}

.info-climate-1,
.info-climate-2 {
	width: 45% ;
	text-align: justify ;
	font-size: 12px ;
}

.about-2 {
	width: 100% ;
	display: flex ;
	flex-direction: column ;
	right: 0 ;
	padding: 60px 70px 0 0 ;
}

.need-evidence {
	text-align: right ;
	margin-bottom: 10px ;
}

.need {
	font-family: 'HelveticaNowMicro-ExtraBold' ;
	font-size: 14px ;
}

.evidence {
	font-family: 'HelveticaNowMicro-ExtraBold' ;
	font-size: 14px ;
	color: #0bb68c ;
}

/*evidence images*/
.all-images {
	position: absolute ;
	right: 0 ;
	padding-right: 70px ;
}

.img-evidence-1 {
	padding-bottom: 10px ;
	display: flex ;
	/*justify-content: center ;*/
}

/*start image burned*/
.img-burned {
	position: relative ;
	margin-right: 10px ;
}

.text-overlay1 {
	font-family: 'HelveticaNowMicro-ExtraBold' ;
	font-size: 11px ;
	text-align: center ;
	padding: 20px ;
	position: absolute ;
	bottom: 0 ;
	background-color: rgba(11, 182, 140, 0.5) ;
	color: whitesmoke ;
	width: 100% ;
	transition: .5s ease ;
	opacity: 0 ;
}

.img-burned:hover .text-overlay1 {
	opacity: 1;
}
/*end image burned*/
/*start image water*/
.img-water {
	position: relative ;
	margin-right: 10px ;
}

.text-overlay2 {
	font-family: 'HelveticaNowMicro-ExtraBold' ;
	font-size: 11px ;
	text-align: center ;
	padding: 20px ;
	position: absolute ;
	bottom: 0 ;
	background-color: rgba(11, 182, 140, 0.5) ;
	color: whitesmoke ;
	width: 100% ;
	transition: .5s ease ;
	opacity: 0 ;
}

.img-water:hover .text-overlay2 {
	opacity: 1;
}
/*end image water*/
/*start image ice*/
.img-ice {
	position: relative ;
}

.text-overlay3 {
	font-family: 'HelveticaNowMicro-ExtraBold' ;
	font-size: 11px ;
	text-align: center ;
	padding: 20px ;
	position: absolute ;
	bottom: 0 ;
	background-color: rgba(11, 182, 140, 0.5) ;
	color: whitesmoke ;
	width: 100% ;
	transition: .5s ease ;
	opacity: 0 ;
}

.img-ice:hover .text-overlay3 {
	opacity: 1;
}
/*end image ice*/


.img-evidence-2 {
	display: flex ;
	/*justify-content: center ;*/
}

/*start image flood*/
.img-flood {
	position: relative ;
	margin-right: 10px ;
}

.text-overlay4 {
	font-family: 'HelveticaNowMicro-ExtraBold' ;
	font-size: 11px ;
	text-align: center ;
	padding: 20px ;
	position: absolute ;
	bottom: 0 ;
	background-color: rgba(11, 182, 140, 0.5) ;
	color: whitesmoke ;
	width: 100% ;
	transition: .5s ease ;
	opacity: 0 ;
}

.img-flood:hover .text-overlay4 {
	opacity: 1;
}
/*end image flood*/
/*start image smoke*/
.img-smoke {
	position: relative ;
	margin-right: 10px ;
}

.text-overlay5 {
	font-family: 'HelveticaNowMicro-ExtraBold' ;
	font-size: 11px ;
	text-align: center ;
	padding: 20px ;
	position: absolute ;
	bottom: 0 ;
	background-color: rgba(11, 182, 140, 0.5) ;
	color: whitesmoke ;
	width: 100% ;
	transition: .5s ease ;
	opacity: 0 ;
}

.img-smoke:hover .text-overlay5 {
	opacity: 1;
}
/*end image smoke*/
/*start image storm*/
.img-storm {
	position: relative ;
}

.text-overlay6 {
	font-family: 'HelveticaNowMicro-ExtraBold' ;
	font-size: 11px ;
	text-align: center ;
	padding: 20px ;
	position: absolute ;
	bottom: 0 ;
	background-color: rgba(11, 182, 140, 0.5) ;
	color: whitesmoke ;
	width: 100% ;
	transition: .5s ease ;
	opacity: 0 ;
}

.img-storm:hover .text-overlay6 {
	opacity: 1;
}
/*end image storm*/

.img-set {
	height:130px ;
	width: 200px ;
}
/*end evidence images*/
/*end climate change*/

/*start sustainbale living*/
.sustainable-living {
	height: 100vh ;
	background-color: whitesmoke ;
	background-image: url(../images/bg03.png) ;
	background-size: cover ;
	background-repeat: no-repeat ;
	background-position: center ;
	background-attachment: fixed ;
}

.about-3 {
	width: 100% ;
	padding: 100px 0 0 200px ;
}

.title-sustainable {
	font-family: 'spotnormal' ;
	width: 50% ;
	text-align: center;
	font-size: 40px ;
}

.info-sustainable {
	width: 50% ;
	text-align: center;
	font-size: 12px ;
}

.about-4 {
	width: 100% ;
	padding: 20px 0 0 200px ;
}

.sustainably-how {
	width: 50% ;
	text-align: center ;
}

.how {
	font-family: 'HelveticaNowMicro-ExtraBold' ;
	font-size: 14px ;
}

.sustainably {
	font-family: 'HelveticaNowMicro-ExtraBold' ;
	font-size: 14px ;
	color: #0bb68c ;
}

.img-tips-1,
.img-tips-2,
.img-tips-3 {
	width: 50% ;
	display: flex ;
	justify-content: center ;
}

.img-set2 {
	width: 110px ;
	height: 80px ;
	padding: 0px 20px 0 20px ;
}

.img-set2:hover {
	cursor: pointer ;
}

figcaption {
	font-family: 'HelveticaNowMicro-ExtraBold' ;
	background-color: rgba(11, 182, 140, 0.5) ;
	box-shadow: 5px 5px 5px #e7e7e7 ;
	font-size: 11px ;
	text-align: center ;
	width: 110px ;
	height: 45px ;
	padding: 5px ;
	margin: 0 5px 0 5px ;
}

/*end sustainable living*/
/*start footer*/
.footer-about {
	font-size: 13px ;
	background-color: #fbfbfb ;
	margin: 0 ;
	padding: 20px 0 10px 50px ;
	width: 100% ;
	/*position: absolute ;*/
	bottom: 0;

}

.divider {
	color: #0bb68c ;
	font-size: 15px ;
	font-weight: 700 ;
}
/*end footer*/
/*end about.html*/





/*start join.html*/
.container-join {
	height: 100vh;
	background-color: whitesmoke ;
}

.join-register {
	display: flex ;
	justify-content: center ;
	width: 90% ;
	height: 100vh ;
}

.image-container {
	padding-right: 15px 30px 0 0 ;
	display: flex ;
	align-items: center ;
}

.image-container img {
	width: 550px ;
	height: 300px ;
	margin: auto ;
	object-fit: cover ;
	padding-left: 20px ;
}

#register {
	height: 100% ;
	width: 500px ;
	display: flex ;
	justify-content: center ;
	flex-direction: column ;
}

.join-proj  {
	font-family: 'spotnormal' ;
	font-size: 40px ;
	margin: 0 ;
	padding-bottom: 5px ;
}

hr {
	border: none ;
	background-color: #ffcf00 ;
	height: 3px ;
	width: 65px ;
	margin: 0 ;
}

.info-join {
	font-size: 14px ;
	margin-top: 10px ;
	text-align: justify ;
}

.container-form {
	margin-top: 10px ;
}

.btn-sign-up {
	background-color: #0bb68c ;
	border-style: none ;
	border-radius: 50px ;
	padding: 5px 15px ;
	width: 100px ;
}

.btn-sign-up:hover {
	background-color: #47bfa2 ;
}

.form-control:hover {
	border-color: #454545 ;
}

/*start footer*/
.footer-join {
	font-size: 13px ;
	background-color: #fbfbfb ;
	margin: 0 ;
	padding: 20px 50px 10px 50px;
	bottom: 0 ;
	position: fixed ;
	width: 100vw ;
}
/*end footer*/
/*end join.html*/





/*media queries*/
/*media styling*/
@media only screen and (max-width: 400px) {


	/*start social*/
	.social {
		position: absolute ;
		height: 100% ;
		bottom: 0 ;
		padding-top: 770px ;
		padding-left: 40px ;
		flex-direction: row ;
	}
	/*end social*/
	/*start home content*/
	.home-content {
		width: 80% ;
		margin-top: 200px ;
		margin-left: 50px ;
	}

	.title {
		font-size: 30px ;
	}

	/*about.html*/
	.about-1 {
		padding-left: 20px ;
		padding-top: 70px ;
	}

	.info-climate-1,
	.info-climate-2 {
		width: 95% ;
		text-align: justify ;
		font-size: 12px ;
	}

	.about-2 {
		width: 100% ;
		display: flex ;
		flex-direction: column ;
		right: 0 ;
		padding: 0 20px 0 0 ;
	}

	.need-evidence {
		text-align: right ;
		margin-bottom: 10px ;
		padding-top: 0 ;
	}

	.all-images {
		position: absolute ;
		right: 0 ;
		padding-right: 20px ;
		display: flex ;
	}

	.img-evidence-1,
	.img-evidence-2 {
		display: flex ;
		flex-direction: column ;
	}


	.img-set {
		height: 80px ;
		width: 150px ;
		padding-bottom: 5px ;
	}

	.about-3 {
		width: 100% ;
		padding-left: 5px ;
		padding-top: 0 ;
	}

	.title-sustainable {
		width: 100% ;
		font-size: 30px ;
		text-align: center ;
	}

	.info-sustainable {
		width: 100% ;
		text-align: center;
		font-size: 12px ;
		padding: 0 20px 0 20px ;
	}

	.about-4 {
		width: 100% ;
		padding-left: 0 ;
		padding-top: 0 ;
	}

	.sustainably-how {
		width: 100% ;
	}

	.image-tips {
		display: flex ;
	}

	.img-tips-1,
	.img-tips-2,
	.img-tips-3 {
		width: 100% ;
		display: flex ;
		flex-direction: column ;
		height: auto ;
	}

	.img-tips-1 {
		padding-left: 30px ;
	}

	figure {
		margin-bottom: 5px ;
	}

	.img-set2 {
		width: 90px ;
		height: 60px ;
		padding: 0 20px 0 20px ;
		margin-left: 10px ;
	}

	.footer-about {
		padding: 5px 20px 5px 20px;
	}
	/*end about.html*/



	/*join.html*/
	.join-register {
		flex-direction: column ;
		width: 100vw ;
	}

	.image-container {
		padding: 90px 0 0 0 ;
	}

	.image-container img {
		width: 300px ;
		height: 200px ;
		padding-left: 0 ;
	}

	#register {
		width: 90% ;
		padding-left: 40px ;
		padding-bottom: 50px ;
	}

	.join-proj  {
		font-size: 20px ;
		padding-bottom: 5px ;
	}

	.footer-join {
		padding: 5px 20px 5px 20px;
	}

	.info-join {
		margin-bottom: 0;
	}
	/*end join.html*/

}

/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	
	/*about*/
	.about-1 {
	width: 100% ;
	display: flex ;
	flex-direction: column ;
	height: 40% ;
	padding: 100px 0 0 90px ;
	}

	.about-3 {
		width: 100% ;
		padding-left: 180px ;
	}

	.title-sustainable {
		width: 70% ;
		text-align: center;
	}

	.info-sustainable {
		width: 70% ;
		text-align: center ;
		font-size: 12px ;
	}

	.about-4 {
		width: 100% ;
		padding-left: 20px ;
	}

	.img-tips-1,
	.img-tips-2 {
		width: 100% ;
		display: flex ;
		justify-content: center ;
	}

	.sustainably-how {
		width: 100% ;
		text-align: center ;
	}


	/*join*/
	.image-container img {
		width: 350px ;
		height: 200px ;
	}
	/*end join*/

}